<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta charset="utf-8">
    <title>রিপোর্ট টেস্ট</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body>
    <h1>রিপোর্ট লিংক</h1>
    <ul>
        <li><a href="/daily_report" target="_blank">দৈনিক রিপোর্ট</a></li>
        <li><a href="/monthly_report" target="_blank">মাসিক রিপোর্ট</a></li>
        <li><a href="/due_report" target="_blank">বকেয়া রিপোর্ট</a></li>
        <li><a href="/withdrawal_report" target="_blank">উত্তোলন রিপোর্ট</a></li>
    </ul>
</body>
</html>
